.login-block{
    float:left;
    width:100%;
    padding : 50px 0;
    

}

.logCont{background:hsla(0, 0%, 83%, 0.219); border-radius: 10px;
     width: 40%; height: 40%;margin-top: 100px;margin-bottom: 55px;backdrop-filter: blur(10px);
     box-shadow: 2px 2px 5px 5px rgba(152, 152, 152, 0.477);
     background-image: url("./img/abstract.jpg");
     background-size: cover;
    }
.login-sec{padding: 50px 30px; position:relative;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #087016b5;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #0069c0; color:#fff; font-weight:600;height: 40px;width: 90px;}
.btn-regNv
{
    color: #fff;
}
