.use-art
{
    margin-top: 100px;
}
.use-art .card
{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.use-art .card-body
{
    border-top: 2px solid rgba(0, 0, 0, 0.553);
}
.comment
{
    padding: 20px;
    border-top: 2px solid black;
    margin-top: 30px;
    
}
.comment .row .col textarea
{
    width: 50%;
    height: 80%;
}

.u-comment
{
    border-top: 3px solid rgb(148, 146, 146);
    overflow-y: scroll;
    height: 700px;
    margin-top: 50px;
    padding: 20px;
}
.u-com
{
    margin-bottom:40px ;
}
.us-com  img,i{
    border-radius: 50%;
    
    margin-right: 5px;
    font-size:30px;
   text-align: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
}
.us-com{
    margin-bottom: 10px;
    
}

.us-com .c-com{
    padding-left: 20px;
    color: black;
}