.btn-search
{
    border: none;
    background-color: white;
    color: rgb(11, 106, 11);
    transition: transform 0.3 ease;
    font-size: 20px;
}

.btn-search:hover
{
    transform: scale(1.1);
}

.navLink 
{
    color: rgb(10, 164, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.1 ease;
    
}
.navLink:hover:focus
{
    transform: scale(1.1);
    color: lightgreen;
    background: none;
}

.navTitle
{
    font-size: 25px;
    font-family: fantasy;
    color: green;
}
.navTitle:hover
{
    font-size: 25px;
    font-family: fantasy;
    color: green;

}


.form-search
{
    border: 0.5px solid green;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    transition: transform 0.3 ease;
}

.form-search:hover
{
transform: scale(1.1);
}
.form-search:focus
{
    transform: scale(1.1);
}

.btn-toggle
{
    border: none;
    background-color: white;
    color: rgb(11, 106, 11);
    outline: none;
    cursor: pointer;
}

.icons
{
    color: green;
}

a{
    text-decoration: none;
}
.navLinkD{
    color: rgb(10, 164, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
   
}
.navLinkD:hover{
    color: lightgreen;
    
}


.logoImg{
    height:60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.userImg
{
    width: 40px;
    height: 40px;
    border-radius:50% ;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: larger;
    color: rgb(154, 170, 170);
    border: 1px solid green;

}
.navbar-nav
{
    align-items: flex-start;
    justify-content: start;

}
.dropdown-menu:hover
{
    display: block;

}